<div class="my-groups">
    <div class="overlap-group">
      <div class="page-template-content">
        <div class="navbar-content">
          <div class="overlap-group1">
            <h1 class="text-1 raleway-normal-white-72px">FishBrook</h1>
            <div class="menu-content">
              <div class="view-fish">
                <div class="text-2 valign-text-middle roboto-light-magic-mint-30px">View Fish</div>
              </div>
              <div class="overlap-group2-1">
                <div class="my-catches">
                  <div class="view-fish-i853058-1 valign-text-middle roboto-light-magic-mint-30px">My Catches</div>
                </div>
                <div class="leaderboard">
                  <div class="view-fish-i853058-2 valign-text-middle roboto-light-magic-mint-30px">Leaderboard</div>
                </div>
              </div>
              <div class="groups">
                <div class="view-fish-i853058 valign-text-middle roboto-light-magic-mint-30px">Groups</div>
              </div>
            </div>
            <img
              class="logout-icon"
              src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6079da6f1061daf80f9e973a/img/logout-icon-3@2x.png"
            />
          </div>
        </div>
      </div>
      <div class="my-groups-page-content">
        <div class="overlap-group2">
          <div class="group-1">
            <div class="overlap-group1-1">
              <div class="group-entry-content">
                <div class="overlap-group3">
                  <div class="group-entry-base"></div>
                  <div class="button-content">
                    <div class="overlap-group4-1">
                      <div class="text-3 valign-text-middle roboto-normal-evening-sea-24px">Join</div>
                    </div>
                  </div>
                  <div class="group-description-i4 roboto-normal-firefly-18px">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales mi eu tortor bibendum
                    maximus. Aliquam erat volutpat. Quisque et justo non velit eleifend luctus quis in quam. Vestibulum
                    congue dictum tortor, eu bibendum sem gravida ut. Aenean blandit neque id dui rhoncus, sed fringilla
                    lacus pellentesque. Quisque tempor pulvinar mauris ut porta. Morbi dignissim ornare dignissim. Nam nec
                    erat sed ipsum tempor vehicula. Cras at venenatis ante. Mauris feugiat eget mauris id tempus. Sed
                    congue dolor eu nisi venenatis convallis vestibulum iaculis mauris.
                  </div>
                  <div class="display-card-content">
                    <div class="overlap-group5">
                      <img
                        class="name-border"
                        src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6079da6f1061daf80f9e973a/img/name-border@2x.png"
                      />
                      <div class="text-4 roboto-thin-firefly-36px">Group Name</div>
                    </div>
                  </div>
                  <div class="group-member-count-i roboto-light-firefly-24px">5/20 Members</div>
                </div>
              </div>
              <div class="button-content-1">
                <div class="overlap-group6">
                  <div class="text-5 valign-text-middle roboto-normal-evening-sea-24px">View Members</div>
                </div>
              </div>
            </div>
          </div>
          <div class="group-dropdown-content">
            <div class="x-groups-option">
              <div class="overlap-group4"><div class="text-8 roboto-normal-evening-sea-36px">View Groups</div></div>
            </div>
            <a href="my-groups.html">
              <div class="my-groups-option">
                <div class="overlap-group3-1">
                  <div class="base"></div>
                  <img
                    class="selected-base"
                    src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/selected-base@2x.png"
                  />
                  <div class="text-7 roboto-normal-evening-sea-36px">My Groups</div>
                </div>
              </div></a
            >
            <div class="x-groups-option">
              <div class="overlap-group1-2"><div class="text-6 roboto-normal-evening-sea-36px">Create Group</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>