<div class="create-groups">
    <div class="overlap-group">
      <div class="page-template-content">
        <app-navbar></app-navbar>
      </div>
      <div class="create-group-page-content">
        <div class="overlap-group2">
          <div class="create-group-header roboto-bold-firefly-48px">Create Group</div>
          <div class="group-name-field-entry">
            <div class="entry-name-i232688 roboto-light-gray-36px">Group Name</div>
          </div>
          <div class="group-description-text-entry">
            <div class="overlap-group1"><div class="entry-name roboto-light-gray-36px">Group Description....</div></div>
          </div>
          <div class="create-button">
            <div class="button-text-i23280 valign-text-middle roboto-normal-evening-sea-36px">Create</div>
          </div>
        </div>
      </div>
    </div>
  </div>