@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,300,500,100|Raleway:400,800");
.my-catches-2-2 {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  display: flex;
  width: 1440px;
}
.my-catches-2-2 .my-catches-grid {
  align-items: flex-start;
  display: flex;
  background-color: var(--hit-pink);
  flex-direction: column;
  border-radius: 30px;
  left: 38px;
  min-height: 478px;
  position: absolute;
  top: 263px;
  width: 1363px;
}
.my-catches-2-2 .overlap-group {
  height: 1024px;
  position: relative;
  width: 1440px;
}
.my-catches-2-2 .overlap-group-1 {
  background-color: var(--white);
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6075184111c6ad9a560678be/img/card-image@2x.png);
  background-size: 100% 100%;
  border-radius: 30px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  height: 178px;
  position: relative;
  width: 235px;
}
.my-catches-2-2 .page-template-content {
  align-items: flex-start;
  background-color: var(--firefly);
  display: flex;
  height: 1024px;
  left: 0px;
  min-width: 1440px;
  position: absolute;
  top: 0px;
}
* {
  box-sizing: border-box;
}
.raleway-normal-white-72px {
  color: var(--white);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-72px);
  font-style: normal;
  font-weight: 400;
}
.roboto-light-magic-mint-30px {
  color: var(--magic-mint);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-30px);
  font-style: normal;
  font-weight: 300;
}
.roboto-thin-firefly-36px {
  color: var(--firefly);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-36px);
  font-style: normal;
  font-weight: 100;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  text-decoration: none;
  display: contents;
}

.my-catches-2-2 .test {
  width: 100%;
}