<div class="my-catches-2-2">
    <div class="overlap-group">
      <div class="page-template-content">
        <app-navbar></app-navbar>>
      </div>
      <div class="my-catches-grid">
        <div class="display-content-1">
          <div class="display-card-content-1">
            <div class="overlap-group-1">
              <img
                class="name-border"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
              />
              <div class="x-display-name-i810 roboto-thin-firefly-36px">Fish Name</div>
            </div>
          </div>
          <div class="display-card-content-2">
            <div class="overlap-group-1">
              <img
                class="name-border"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
              />
              <div class="x-display-name-i810 roboto-thin-firefly-36px">Fish Name</div>
            </div>
          </div>
          <div class="display-card-content-3">
            <div class="overlap-group-1">
              <img
                class="name-border"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
              />
              <div class="x-display-name-i810 roboto-thin-firefly-36px">Fish Name</div>
            </div>
          </div>
          <div class="display-card-content">
            <div class="overlap-group-1">
              <img
                class="name-border"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
              />
              <div class="x-display-name-i810 roboto-thin-firefly-36px">Fish Name</div>
            </div>
          </div>
          <div class="display-card-content-3">
            <div class="overlap-group-1">
              <img
                class="name-border"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
              />
              <div class="x-display-name-i810 roboto-thin-firefly-36px">Fish Name</div>
            </div>
          </div>
        </div>
        <div class="display-content">
          <div class="display-card-content-1">
            <div class="overlap-group-1">
              <img
                class="name-border"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
              />
              <div class="x-display-name-i810 roboto-thin-firefly-36px">Fish Name</div>
            </div>
          </div>
          <div class="display-card-content-2">
            <div class="overlap-group-1">
              <img
                class="name-border"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
              />
              <div class="x-display-name-i810 roboto-thin-firefly-36px">Fish Name</div>
            </div>
          </div>
          <div class="display-card-content-3">
            <div class="overlap-group-1">
              <img
                class="name-border"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
              />
              <div class="x-display-name-i810 roboto-thin-firefly-36px">Fish Name</div>
            </div>
          </div>
          <div class="display-card-content">
            <div class="overlap-group-1">
              <img
                class="name-border"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
              />
              <div class="x-display-name-i810 roboto-thin-firefly-36px">Fish Name</div>
            </div>
          </div>
          <div class="display-card-content-3">
            <div class="overlap-group-1">
              <img
                class="name-border"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
              />
              <div class="x-display-name-i810 roboto-thin-firefly-36px">Fish Name</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>