<div class="navbar">
<div class="navbar-content">
    <div class="overlap-group">
      
      <ul class="menu-content">
        <li>
          <h1 class="text-1 raleway-normal-white-72px" routerLink="/aquarium">FishBrook</h1>
        </li>

        <li class="view-fish">
          <div class="text-2 valign-text-middle roboto-light-magic-mint-30px" routerLink="/aquarium">
            View Fish
          </div>
        </li>

        <div class="overlap-group1">
          <li class="my-catches">
            <div class="view-fish-i853058-1 valign-text-middle roboto-light-magic-mint-30px" routerLink="/mycatches">My Catches</div>
          </li>

          <li class="leaderboard">
            <div class="view-fish-i853058 valign-text-middle roboto-light-magic-mint-30px" routerLink="/leaderboard">Leaderboard</div>
          </li>
        </div>
        
        <li class="groups" ng-app="testApp" ng-controller="testCtrl">
          <div class="view-fish-i853058-2 valign-text-middle roboto-light-magic-mint-30px groupHover" 
          (click)="toggle()">Groups</div>
          <div  class = "dropdown" *ngIf="show">          
            <app-groupdropdown></app-groupdropdown>
          </div>
        </li>

        <li>
            <img
        class="logout-icon"
        src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6079da6f1061daf80f9e973a/img/logout-icon-3@2x.png"
        (click)="logout()"
      />
        </li>

      </ul>
      
    </div>
  </div>
</div>