<form 
*ngIf = "!isSuccessful"
class="register-fish-popup" 
name="form1" 
(ngSubmit)="f.form.valid && onSubmit()"
#f = "ngForm">

    <h1 class="text-1 roboto-bold-firefly-64px">Register Fish</h1>
    <div class="species-field-entry">
      <input class="x-i850118 roboto-light-gray-36px" name="species" value="{{this.fish.Species}}" type="text" required />
    </div>
    <div class="form-group">
      <div class="x-field-entry">
        <input class="x-i850118 roboto-light-gray-36px"
          name="length"
          [(ngModel)]="form.length"
          #length="ngModel"
          placeholder="Length"
          type="text"
          required />
      </div>
    </div>
    
    <div class="form-group">
      <div class="x-field-entry">
        <input class="x-i850118 roboto-light-gray-36px"
          name="weight"
          [(ngModel)]="form.weight"
          #weight="ngModel"
          placeholder="Weight"
          type="text"
          required />
      </div>
    </div>
    
    <div class="form-group">
      <div class="next-button">
        <button class="new-catch-i850118 valign-text-middle roboto-normal-evening-sea-36px"
        style="background: transparent;box-shadow: 0px 0px 0px transparent; border: 0px solid transparent; text-shadow: 0px 0px 0px transparent;">Next</button>
      </div>
    </div>
</form>