<form class="register-fish-popup" name="form1" action="form1" method="post">
    <h1 class="text-1 roboto-bold-firefly-64px">Register Fish</h1>
    <div class="species-field-entry">
      <input class="x-i850118 roboto-light-gray-36px" name="species" placeholder="Species" type="text" required />
    </div>
    <div class="x-field-entry">
      <input class="x-i850118 roboto-light-gray-36px" name="length" placeholder="Length" type="text" required />
    </div>
    <div class="x-field-entry">
      <input class="x-i850118 roboto-light-gray-36px" name="weight" placeholder="Weight" type="text" required />
    </div>
    <div class="location-field-entry">
      <input class="x-i850118 roboto-light-gray-36px" name="location" placeholder="Location" type="text" required />
    </div>
    <div class="date-caught-field-entry">
      <input class="x-i850118 roboto-light-gray-36px" name="date-caught" placeholder="Date Caught" type="text" required />
    </div>
    <a href="javascript:SubmitForm('form1')">
      <div class="next-button">
        <div class="new-catch-i850118 valign-text-middle roboto-normal-evening-sea-36px">Next</div>
      </div></a
    >
  </form>