<div class="group-list">
    <div class="overlap-group">
      <div class="page-template-content">
        <app-navbar></app-navbar>>
      </div>
      <div class="group-page-content">
        <div class="overlap-group2">
          <app-grouplist></app-grouplist>
        </div>
      </div>
    </div>
  </div>
<!-- 
  <div class="group-list">
    <div class="overlap-group">
      <div class="page-template-content">
        <app-navbar></app-navbar>>
      </div>
      <div class="group-page-content">
        <div class="overlap-group2">
          <div class="group-entry-content">
            <div class="overlap-group1">
              <div class="group-entry-base"></div>
              <div class="button-content">
                <div class="overlap-group3-1">
                  <div class="text-3 valign-text-middle roboto-normal-evening-sea-24px">Join</div>
                </div>
              </div>
              <div class="group-description-i8 roboto-normal-firefly-18px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales mi eu tortor bibendum maximus.
                Aliquam erat volutpat. Quisque et justo non velit eleifend luctus quis in quam. Vestibulum congue dictum
                tortor, eu bibendum sem gravida ut. Aenean blandit neque id dui rhoncus, sed fringilla lacus pellentesque.
                Quisque tempor pulvinar mauris ut porta. Morbi dignissim ornare dignissim. Nam nec erat sed ipsum tempor
                vehicula. Cras at venenatis ante. Mauris feugiat eget mauris id tempus. Sed congue dolor eu nisi venenatis
                convallis vestibulum iaculis mauris.
              </div>
              <div class="display-card-content">
                <div class="overlap-group4-1">
                  <img
                    class="name-border"
                    src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
                  />
                  <div class="text-4 roboto-thin-firefly-36px">Group Name</div>
                </div>
              </div>
              <div class="group-member-count-i roboto-light-firefly-24px">5/20 Members</div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div> -->