<div class="page-base">
<div class="landing-page">
    <div class="overlap-group">
      <div class="landing-page-template">
        <div class="overlap-group1">
          <img
            class="background-wave-vector"
            src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6079da6f1061daf80f9e973a/img/background-wave-vector@1x.png"
          />
          <img
            class="fish-vector-art"
            src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6079da6f1061daf80f9e973a/img/fish-vector-art@1x.png"
          />
        </div>
      </div>
      <div class="landing-page-content">
        <h1 class="title raleway-extra-bold-white-144px">FishBrook</h1>
        <div class="flex-row">
          <div class="button" routerLink = "/login">
            <div class="button-text-i87070 valign-text-middle roboto-normal-evening-sea-36px">Dive In</div>
          </div>
          <div class="about-us-text-display">
            <div class="text-1 roboto-light-acapulco-96px">About Us</div>
            <div class="about-us-description roboto-normal-evening-sea-22px">
              &nbsp;&nbsp;&nbsp;&nbsp;Fishing in "Streams" is a team of 4 progress-driven full-stack software developers.
              Our goal is to bring the anglers of the world together to share in eachother's passion for fishing.
              <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;FishBrook takes the often solitary hobby of fishing and transforms it into
              a social experience that anyone can enjoy. As an angler, you can register your catch with FishBrook, including
              the fish caught and the gear used to catch the fish. You can also view fish that other people have caught, and
              even make your way onto the leaderboard for all to see. We give you the tools to be the best angler you can be!
              <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;Fishing in "Streams", bringing you MVP since 2021!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>