<div class="landing-page">
    <div class="overlap-group">
      <div class="landing-page-template">
        <div class="overlap-group1">
          <img
            class="background-wave-vector"
            src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6079da6f1061daf80f9e973a/img/background-wave-vector@1x.png"
          />
          <img
            class="fish-vector-art"
            src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6079da6f1061daf80f9e973a/img/fish-vector-art@1x.png"
          />
        </div>
      </div>
      <div class="landing-page-content">
        <h1 class="title raleway-extra-bold-white-144px">FishBrook</h1>
        <div class="flex-row">
          <div class="button">
            <div class="button-text-i87070 valign-text-middle roboto-normal-evening-sea-36px">Dive In</div>
          </div>
          <div class="about-us-text-display">
            <div class="text-1 roboto-light-acapulco-96px">About Us</div>
            <div class="about-us-description roboto-normal-evening-sea-18px">
              &nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque, nisl in
              posuere sagittis, lectus turpis consectetur nibh, non finibus odio ipsum ut elit. Aliquam non magna ut diam
              sagittis feugiat commodo sed erat. Nam vitae odio a libero porta sodales. Integer malesuada dui in tellus
              sollicitudin auctor. Duis ut dui diam. Phasellus ornare laoreet elit, nec tristique odio sollicitudin ac.
              <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;Duis eget accumsan libero. Duis vel libero eu est hendrerit feugiat a ut
              mauris. Mauris lorem est, viverra sit amet nulla sed, vehicula dapibus tortor. Pellentesque dignissim
              lobortis risus sed porta. Nulla tempor vel mauris sit amet imperdiet. Pellentesque pulvinar, mi at lobortis
              hendrerit, ipsum libero molestie ante, vel vehicula elit turpis ut libero. Nam maximus risus nunc, quis
              imperdiet urna eleifend vel.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>