<div>
  <app-displaycard></app-displaycard>
  <!-- <app-navbar></app-navbar>
  
  <router-outlet></router-outlet> -->

  <!-- <app-create-group-page></app-create-group-page>
  <app-group-page></app-group-page>
  <app-home-page></app-home-page>
  <app-landing-page></app-landing-page>
  <app-leaderboard-page></app-leaderboard-page>
  <app-login-page></app-login-page>
  <app-my-catches-page></app-my-catches-page>
  <app-my-groups-page></app-my-groups-page>
  <app-register-page></app-register-page>
  <app-view-catch-page></app-view-catch-page>
  <app-view-fish-page></app-view-fish-page> -->
</div>