<div class="view-fish">
    <div class="overlap-group">
      <div class="page-template-content">
        <app-navbar></app-navbar>>
      </div>
      <div class="view-fish-page-content">
        <div class="display-grid-content">
          <app-displaygrid class="test"></app-displaygrid>
        </div>
        <div class="pagination-content">
          <div class="prev-button">
            <div class="overlap-group-2 border-1px-firefly">
              <div class="x-i84784830 roboto-light-firefly-24px">Prev</div>
            </div>
          </div>
          <div class="next-button">
            <div class="overlap-group-2 border-1px-firefly">
              <div class="x-i84784830 roboto-light-firefly-24px">Next</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>