<div class="view-fish">
    <div class="overlap-group">
      <div class="page-template-content">
        <app-navbar></app-navbar>>
      </div>
      <div class="view-fish-page-content">
        <div class="display-grid-content">
          <app-displaycard class="test"></app-displaycard>
        </div>
        <div class="pagination-content">
          <div class="prev-button">
            <div class="overlap-group-2 border-1px-firefly">
              <div class="x-i84784830 roboto-light-firefly-24px">Prev</div>
            </div>
          </div>
          <div class="x-page">
            <div class="overlap-group6 border-1px-firefly"><div class="number roboto-light-firefly-24px">1</div></div>
          </div>
          <div class="x-page">
            <div class="overlap-group-3 border-1px-firefly"><div class="number roboto-light-firefly-24px">2</div></div>
          </div>
          <div class="x-page">
            <div class="overlap-group-3 border-1px-firefly"><div class="number roboto-light-firefly-24px">3</div></div>
          </div>
          <div class="x-page">
            <div class="overlap-group3 border-1px-firefly">
              <div class="x-i847848294 roboto-bold-firefly-24px">...</div>
            </div>
          </div>
          <div class="x-page">
            <div class="overlap-group2-1 border-1px-firefly">
              <div class="last-page-number-i8 roboto-light-firefly-24px">16</div>
            </div>
          </div>
          <div class="next-button">
            <div class="overlap-group-2 border-1px-firefly">
              <div class="x-i84784830 roboto-light-firefly-24px">Next</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>