@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,800|Roboto:400,700,300,500,100");
.view-fish {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  display: flex;
  width: 100%;
}

.view-fish .test {
  width: 100%;
 }

.view-fish .display-grid-content {
  align-items: flex-end;
  background-color: var(--hit-pink);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  /* min-height: 697px; */
  padding: 0 1px;
  /* width: 1372px; */
  height: 100%;
  width: 100%;
}

.view-fish .overlap-group {
  height: 1024px;
  position: relative;
  width: 1440px;
}

.view-fish .page-template-content {
  align-items: flex-start;
  background-color: var(--piscaney);
  display: flex;
  height: 1024px;
  left: 0px;
  min-width: 1440px;
  position: absolute;
  top: 0px;
}

.view-fish .view-fish-page-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 34px;
  min-height: 768px;
  position: absolute;
  top: 175px;
  width: 1372px;
}

* {
  box-sizing: border-box;
}
.border-1px-firefly {
  border: 1px solid var(--firefly);
}
.raleway-normal-white-72px {
  color: var(--white);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-72px);
  font-style: normal;
  font-weight: 400;
}
.roboto-bold-firefly-24px {
  color: var(--firefly);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-24px);
  font-style: normal;
  font-weight: 700;
}
.roboto-light-firefly-24px {
  color: var(--firefly);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-24px);
  font-style: normal;
  font-weight: 300;
}
.roboto-light-magic-mint-30px {
  color: var(--magic-mint);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-30px);
  font-style: normal;
  font-weight: 300;
}
.roboto-thin-firefly-36px {
  color: var(--firefly);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-36px);
  font-style: normal;
  font-weight: 100;
}
:root {
  --cultured-pearl: rgba(245, 245, 245, 1);
  --downy: rgba(111, 215, 209, 1);
  --evening-sea: rgba(13, 75, 71, 1);
  --firefly: rgba(10, 37, 43, 1);
  --font-family-raleway: "Raleway", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  --font-size-24px: 24px;
  --font-size-30px: 30px;
  --font-size-36px: 36px;
  --font-size-72px: 72px;
  --hit-pink: rgba(255, 167, 130, 1);
  --magic-mint: rgba(175, 255, 211, 1);
  --white: rgba(255, 255, 255, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  text-decoration: none;
  display: contents;
}
