<form class="login"
 name="form2" action="form2" method="post">
  <div class="overlap-group"
>
    <div class="flex-col"
>
      <h1 class="login-header roboto-medium-firefly-96px"
>Welcome</h1>
      <div class="login-subheader roboto-light-firefly-36px"
>Become an Angler Today!</div>
      <div class="username-field-entry"
>
        <input class="username roboto-light-gray-36px"
 name="username0" placeholder="Username" type="text" required />
      </div>
      <div class="password-field-entry"
>
        <input class="password roboto-light-gray-36px"
 name="password0" placeholder="Password" type="text" required />
      </div>
      <div class="flex-row"
>
        <a href="javascript:SubmitForm('form2')">
          <div class="login-button"
>
            <div class="login-1 valign-text-middle roboto-normal-evening-sea-36px"
>Login</div>
          </div></a
        >
        <a href="javascript:SubmitForm('form2')">
          <div class="register-button"
>
            <div class="button-text valign-text-middle roboto-normal-evening-sea-36px"
>Register</div>
          </div></a
        >
      </div>
    </div>
    <img
      class="angler-vector-art"

      src="../../../../assets/login page silhouette.png"
    />
  </div>