<form class="register" name="form1" action="form1" method="post">
    <div class="overlap-group">
      <div class="flex-col">
        <h1 class="place roboto-medium-firefly-96px">Register</h1>
        <div class="username-field-entry">
          <input class="username roboto-light-gray-36px" name="username01" placeholder="Username" type="text" required />
        </div>
        <div class="x-field-entry">
          <input class="password roboto-light-gray-36px" name="password01" placeholder="Password" type="text" required />
        </div>
        <div class="x-field-entry">
          <input
            class="first-name roboto-light-gray-36px"
            name="first-name0"
            placeholder="First Name"
            type="text"
            required
          />
        </div>
        <div class="last-name-field-entry">
          <input
            class="last-name roboto-light-gray-36px"
            name="last-name0"
            placeholder="Last Name"
            type="text"
            required
          />
        </div>
        <div class="flex-row">
          <div class="age-field-entry">
            <input class="age roboto-light-gray-36px" name="age0" placeholder="Age" type="text" required />
          </div>
          <div class="state-field-entry">
            <input class="state roboto-light-gray-36px" name="state0" placeholder="State" type="text" required />
          </div>
        </div>
        <a href="javascript:SubmitForm('form1')">
          <div class="submit-button">
            <div class="submit valign-text-middle roboto-normal-evening-sea-36px">Submit</div>
          </div></a
        >
      </div>
      <img
        class="picture"
        src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6074b8f3aff41992e250025a/img/picture@1x.png"
      />
    </div>
  </form>