<div class="register-gear-popup">
    <div class="overlap-group">
      <div class="dropdown-content">
        <div class="overlap-group-1">
          <div class="x-field-entry"><div class="text-5 roboto-light-gray-36px">Rod</div></div>
          <img
            class="drop-down-arrow"
            src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6079da6f1061daf80f9e973a/img/drop-down-arrow-1@2x.png"
          />
        </div>
      </div>
      <h1 class="text-7 roboto-bold-firefly-64px">Register Gear</h1>
    </div>
    <div class="dropdown-content-2">
      <div class="overlap-group-1">
        <div class="x-field-entry"><div class="text-4 roboto-light-gray-36px">Fishhook</div></div>
        <img
          class="drop-down-arrow"
          src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6079da6f1061daf80f9e973a/img/drop-down-arrow@2x.png"
        />
      </div>
    </div>
    <div class="dropdown-content-1">
      <div class="overlap-group-1">
        <div class="x-field-entry"><div class="text-3 roboto-light-gray-36px">Bait</div></div>
        <img
          class="drop-down-arrow"
          src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6079da6f1061daf80f9e973a/img/drop-down-arrow@2x.png"
        />
      </div>
    </div>
    <div class="dropdown-content-1">
      <div class="overlap-group-1">
        <div class="x-field-entry"><div class="place roboto-light-gray-36px">Lure</div></div>
        <img
          class="drop-down-arrow"
          src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6079da6f1061daf80f9e973a/img/drop-down-arrow-1@2x.png"
        />
      </div>
    </div>
    <div class="dropdown-content-1">
      <div class="overlap-group-1">
        <div class="x-field-entry"><div class="text-2 roboto-light-gray-36px">Bobber</div></div>
        <img
          class="drop-down-arrow"
          src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6079da6f1061daf80f9e973a/img/drop-down-arrow@2x.png"
        />
      </div>
    </div>
    <div class="sink-weight-field-entry"><div class="text-1 roboto-light-gray-36px">Sink Weight</div></div>
    <div class="submit-button"><div class="text-6 valign-text-middle roboto-normal-evening-sea-36px">Submit</div></div>
  </div>