<div class="leaderboard">
    <div class="overlap-group">
      <div class="page-template-content">
        <div class="navbar-content">
          <div class="overlap-group1">
            <h1 class="text-1 raleway-normal-white-72px">FishBrook</h1>
            <div class="menu-content">
              <div class="view-fish">
                <div class="text-2 valign-text-middle roboto-light-magic-mint-30px">View Fish</div>
              </div>
              <div class="overlap-group2-1">
                <div class="my-catches">
                  <div class="view-fish-i8108318 valign-text-middle roboto-light-magic-mint-30px">My Catches</div>
                </div>
                <a href="leaderboard.html">
                  <div class="leaderboard-1">
                    <div class="view-fish-i8108318-2 valign-text-middle roboto-light-magic-mint-30px">Leaderboard</div>
                  </div></a
                >
              </div>
              <div class="groups">
                <div class="view-fish-i8108318-1 valign-text-middle roboto-light-magic-mint-30px">Groups</div>
              </div>
            </div>
            <img
              class="logout-icon"
              src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6075184111c6ad9a560678be/img/logout-icon@2x.png"
            />
          </div>
        </div>
      </div>
      <div class="leaderboard-page-content">
        <div class="overlap-group2">
          <div class="leaderboard-window-base">
            <div class="overlap-group1-2">
              <img
                class="header"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/header@1x.png"
              />
              <img
                class="largest-catch"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/largest-catch@2x.png"
              />
              <img
                class="name"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name@2x.png"
              />
              <img
                class="rank"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/rank@2x.png"
              />
            </div>
          </div>
          <div class="scoreboard">
            <div class="scoreboard-item">
              <div class="overlap-group11 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">1)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="leaderboard-entry-content">
              <div class="overlap-group-1 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">2)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="scoreboard-item">
              <div class="overlap-group-2 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">3)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="leaderboard-entry-content">
              <div class="overlap-group-1 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">4)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="scoreboard-item">
              <div class="overlap-group-2 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">5)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="leaderboard-entry-content">
              <div class="overlap-group-1 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">6)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="scoreboard-item">
              <div class="overlap-group-2 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">7)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="leaderboard-entry-content">
              <div class="overlap-group-1 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">8)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="scoreboard-item">
              <div class="overlap-group-2 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">9)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="leaderboard-entry-content">
              <div class="overlap-group1-1 border-2px-alto">
                <div class="rank-i81767464602 roboto-light-evening-sea-30px">10)</div>
                <div class="full-name-i817678 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>