<div class="leaderboard">
    <div class="overlap-group">
      <div class="page-template-content">
        <app-navbar></app-navbar>>
      </div>
      <div class="leaderboard-page-content">
        <div class="overlap-group2">
          <div class="leaderboard-window-base">
            <div class="overlap-group1-2">
              <img
                class="header"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/header@1x.png"
              />
              <img
                class="largest-catch"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/largest-catch@2x.png"
              />
              <img
                class="name"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name@2x.png"
              />
              <img
                class="rank"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/rank@2x.png"
              />
            </div>
          </div>
          <div class="scoreboard">
            <div class="scoreboard-item">
              <div class="overlap-group11 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">1)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="leaderboard-entry-content">
              <div class="overlap-group-1 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">2)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="scoreboard-item">
              <div class="overlap-group-2 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">3)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="leaderboard-entry-content">
              <div class="overlap-group-1 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">4)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="scoreboard-item">
              <div class="overlap-group-2 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">5)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="leaderboard-entry-content">
              <div class="overlap-group-1 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">6)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="scoreboard-item">
              <div class="overlap-group-2 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">7)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="leaderboard-entry-content">
              <div class="overlap-group-1 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">8)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="scoreboard-item">
              <div class="overlap-group-2 border-2px-alto">
                <div class="rank-i8 roboto-light-evening-sea-30px">9)</div>
                <div class="full-name-i8 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
            <div class="leaderboard-entry-content">
              <div class="overlap-group1-1 border-2px-alto">
                <div class="rank-i81767464602 roboto-light-evening-sea-30px">10)</div>
                <div class="full-name-i817678 roboto-light-evening-sea-30px">Mikayla Pickett</div>
                <div class="fish-data-i8 roboto-light-evening-sea-30px">Sea Bass (2.75 m)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>