@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,800|Roboto:400,700,300,500,100");
.create-group {
  letter-spacing: 0px;
  min-height: 42px;
  min-width: 213px;
  text-align: center;
}
.group-dropdown-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 288px;
  width: 294px;
  z-index: 2;
}
.my-groups {
  letter-spacing: 0px;
  min-height: 42px;
  min-width: 175px;
  text-align: center;
}
.overlap-group {
  align-items: center;
  background-color: var(--puerto-rico);
  display: flex;
  height: 96px;
  justify-content: flex-end;
  min-width: 294px;
  padding: 0 40px;
}
.overlap-group1 {
  align-items: center;
  background-color: var(--puerto-rico);
  display: flex;
  height: 96px;
  justify-content: flex-end;
  min-width: 294px;
  padding: 0 59px;
}
.overlap-group2 {
  align-items: center;
  background-color: var(--puerto-rico);
  display: flex;
  height: 96px;
  justify-content: flex-end;
  min-width: 294px;
  padding: 0 44px;
}
.title {
  letter-spacing: 0px;
  min-height: 42px;
  min-width: 205px;
  text-align: center;
}
.x-groups-option {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  min-width: 294px;
}
* {
  box-sizing: border-box;
}
.roboto-normal-evening-sea-36px {
  color: var(--evening-sea);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-36px);
  font-style: normal;
  font-weight: 400;
}
