<div class="group-dropdown-content">
    <div class="x-groups-option" routerLink="/groups">
      <div class="overlap-group2"><h1 class="title roboto-normal-evening-sea-36px">View Groups</h1></div>
    </div>
    <div class="x-groups-option" routerLink="/mygroups">
      <div class="overlap-group1"><div class="my-groups roboto-normal-evening-sea-36px">My Groups</div></div>
    </div>
    <div class="x-groups-option" routerLink="/creategroup">
      <div class="overlap-group"><div class="create-group roboto-normal-evening-sea-36px">Create Group</div></div>
    </div>
  </div>