<div class="home">
  <div class="overlap-group">
    <div class="page-template-content">
      <div class="navbar-content">
        <div class="overlap-group1">
          <a href="home.html"><h1 class="text-1 raleway-normal-white-72px">FishBrook</h1></a>
          <div class="menu-content">
            <div class="view-fish">
              <div class="text-2 valign-text-middle roboto-light-magic-mint-30px">View Fish</div>
            </div>
            <div class="overlap-group2">
              <div class="my-catches">
                <div class="view-fish-i817948-1 valign-text-middle roboto-light-magic-mint-30px">My Catches</div>
              </div>
              <div class="leaderboard">
                <div class="view-fish-i817948-2 valign-text-middle roboto-light-magic-mint-30px">Leaderboard</div>
              </div>
            </div>
            <div class="groups">
              <div class="view-fish-i817948 valign-text-middle roboto-light-magic-mint-30px">Groups</div>
            </div>
          </div>
          <img
            class="logout-icon"
            src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/6075184111c6ad9a560678be/img/logout-icon@2x.png"
          />
        </div>
      </div>
    </div>
    <div class="home-page-content">
      <div class="featured-catches-row">
        <div class="overlap-group-1">
          <div class="overlap-group-2">
            <div class="display-card-content-1">
              <div class="overlap-group-3">
                <img
                  class="name-border"
                  src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
                />
                <div class="x-display-name-i roboto-thin-black-36px">Fish Name</div>
              </div>
            </div>
            <div class="display-card-content-2">
              <div class="overlap-group-3">
                <img
                  class="name-border"
                  src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
                />
                <div class="x-display-name-i roboto-thin-black-36px">Fish Name</div>
              </div>
            </div>
            <div class="text- roboto-bold-citrine-36px">Featured Catches</div>
          </div>
          <div class="display-card-content-3">
            <div class="overlap-group-3">
              <img
                class="name-border"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
              />
              <div class="x-display-name-i roboto-thin-black-36px">Fish Name</div>
            </div>
          </div>
        </div>
        <div class="display-card-content">
          <div class="overlap-group-3">
            <img
              class="name-border"
              src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
            />
            <div class="x-display-name-i roboto-thin-black-36px">Fish Name</div>
          </div>
        </div>
      </div>
      <div class="est-catches-row">
        <div class="overlap-group-1">
          <div class="overlap-group-2">
            <div class="display-card-content-1">
              <div class="overlap-group-3">
                <img
                  class="name-border"
                  src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
                />
                <div class="x-display-name-i roboto-thin-black-36px">Fish Name</div>
              </div>
            </div>
            <div class="display-card-content-2">
              <div class="overlap-group-3">
                <img
                  class="name-border"
                  src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
                />
                <div class="x-display-name-i roboto-thin-black-36px">Fish Name</div>
              </div>
            </div>
            <div class="text- roboto-bold-citrine-36px">Largest Catches</div>
          </div>
          <div class="display-card-content-3">
            <div class="overlap-group-3">
              <img
                class="name-border"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
              />
              <div class="x-display-name-i roboto-thin-black-36px">Fish Name</div>
            </div>
          </div>
        </div>
        <div class="display-card-content">
          <div class="overlap-group-3">
            <img
              class="name-border"
              src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
            />
            <div class="x-display-name-i roboto-thin-black-36px">Fish Name</div>
          </div>
        </div>
      </div>
      <div class="est-catches-row">
        <div class="overlap-group-1">
          <div class="overlap-group-2">
            <div class="display-card-content-1">
              <div class="overlap-group-3">
                <img
                  class="name-border"
                  src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
                />
                <div class="x-display-name-i roboto-thin-black-36px">Fish Name</div>
              </div>
            </div>
            <div class="display-card-content-2">
              <div class="overlap-group-3">
                <img
                  class="name-border"
                  src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
                />
                <div class="x-display-name-i roboto-thin-black-36px">Fish Name</div>
              </div>
            </div>
            <div class="text- roboto-bold-citrine-36px">Latest Catches</div>
          </div>
          <div class="display-card-content-3">
            <div class="overlap-group-3">
              <img
                class="name-border"
                src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
              />
              <div class="x-display-name-i roboto-thin-black-36px">Fish Name</div>
            </div>
          </div>
        </div>
        <div class="display-card-content">
          <div class="overlap-group-3">
            <img
              class="name-border"
              src="https://anima-uploads.s3.amazonaws.com/projects/6074ae6f11c6ad9a56067743/releases/60776f839e7a3de79356df1e/img/name-border@2x.png"
            />
            <div class="x-display-name-i roboto-thin-black-36px">Fish Name</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>