.grid-layout {
    padding: 50px 0;
    display: grid;
    max-width: 100%;
    grid-gap: 60px;
    margin: 0 auto;
    width: 95%;
    grid-auto-rows: 150px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  } 

  
  #register-fish-popup {
    z-index: 10;
    display: block;
    position: absolute;
    left: 400px;
  }

  #register-gear-popup {
    z-index: 10;
    display:block;
    position: absolute;
    left: 400px;
  }

  .popupcontainer{
    width: 100%;
    align-content: center;
    position: absolute;
  }