  
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
.header {
    height: 100px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 1208px;
  }
  .largest-catch {
    height: 36px;
    left: 736px;
    position: absolute;
    top: 37px;
    width: 224px;
  }
  .leaderboard-window-base {
    align-items: flex-start;
    display: flex;
    min-width: 1214px;
  }
  .name {
    height: 28px;
    left: 305px;
    position: absolute;
    top: 41px;
    width: 94px;
  }
  .overlap-group {
    background-color: var(--apricot-peach);
    border: 1px solid rgba(208,208,208,1.0);
    border-radius: 50px;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.34);
    height: 798px;
    position: relative;
    width: 1208px;
  }
  .rank {
    height: 30px;
    left: 45px;
    position: absolute;
    top: 40px;
    width: 84px;
  }

  * {
    box-sizing: border-box;
  }
  